<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block home %}{% endblock %}
{% block body_block %}
<div style="text-align: center;">
  <div style="font-family: 'Quicksand', sans-serif; color: white; margin: 70px auto;">
    <img src={% static 'images/img1.png' %}>
    <br>
    <p class='main_font' style="font-size: 100px; margin-bottom: 1px;">NITR TRAVELS</p>
    <h2>A project on Bus Reservation System</h2>
  </div>
  {% if not user.is_authenticated %}
    <a href="{% url 'airline3app:user_login' %}" class="btn btn-lg btn-primary button-translucent" style="margin: 20px;"><i class="fas fa-sign-in-alt"></i> Login</a>
    <a href="{% url 'airline3app:register' %}" class="btn btn-lg btn-primary button-translucent" style="margin: 20px;">Register</a>
  {% else %}
    <h5 style="color: black;  font-weight: bold">Welcome {{user.first_name}} {{user.last_name}}</h5>
    <a href="{% url 'ticket_list' %}" class="btn btn-lg btn-primary button-translucent" style="margin: 20px;"><i class="fas fa-ticket-alt"></i> My Tickets</a>
    <a href="{% url 'index' %}" class="btn btn-lg btn-primary button-translucent" style="margin: 20px;"><i class="fas fa-bus"></i> Search Buses</a>
    <a href="{% url 'user_logout' %}" class="btn btn-lg btn-primary button-translucent" style="margin: 20px;"><i class='fa fa-user-circle'></i> Logout</a>
  {% endif %}
</div>
{% endblock %}
